footer { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin: 20px; 
} 

p { 
    font-size: large; 
} 

.svg_hand { 
    padding-right: 3px; 
} 

.footer__container { 
    display: flex; 
    width: 500px; 
    justify-content: space-around; 
} 

.container__svg { 
    width: 200px; 
} 

.footer__svg { 
    display: flex; 
    width: 50px; 
    height: 50px; 
    background-color: grey; 
    align-items: center; 
    justify-content: center; 
    border-radius: 50%; 
    margin: 0 auto; 
    cursor: pointer; 
} 

.svg__end { 
    width: 80px; 
    background-color: red; 
    border-radius: 40%; 
} 

.icon { 
    position: absolute; 
    top: 30%; 
    left: 54%; 
    margin: 0 auto; 
    padding: 10px; 
} 

.icon__conrainer { 
    display: flex; 
    align-items: center; 
    margin: -25px auto; 
} 

.none { 
    display: none; 
}