.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.border {
    border: 5px solid rgb(37, 150, 190);
}

.svg {
    position: absolute;
    top: 8px;
    right: 16px;
}

.container__img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 447px;
    height: 256px;
    margin: 8px;
    border-radius: 10px;
    position: relative;
}

.container__text {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}

#voice {
    background-color: rgb(37, 150, 190);
    border-radius: 50%;
}

#mute{
    background-color: black;
    border-radius: 50%;
}

.camera {
    background-color: #3c4043;
    border-radius: 10%;
    position: relative;
    width: 447px;
    height: 256px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera .container__img {
    position: absolute;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.camera .container__text {
    bottom: -41px;
    left: -92px;
}

.camera #mute {
    right: -96px;
    top: -28px;
}